:root {
  --bg-main-page-color: #ffffff;
  --desc-text-color: #757575;
  --bg-button-color: #2196f3;
  --button-color: #ffffff;
  --nav-color: #212121;
  --bg-button-filter: #f5f4fa;
  --project-title-color: #212121;
  --bg-btn-hover: #188ce8;
  --name-color: #000000;
  --bg-footer: #2f303a;
  --color-contact-footer: #ffffff 60 %;
  --bg-section-team: #f5f4fa;
}
/* ======глобальнвй сброс======= */
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ======conainer====== */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ======conainer-header====== */
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid #ececec;
}
/* вся страница */
body {
  margin: 0 auto;

  background-color: var(--bg-main-page-color);
  color: var(--nav-color);
  font-family: Roboto, sans-serif;
}

/* название компании */
.name-company .text {
  color: var(--bg-button-color);
  font-family: Raleway;
}
.name-company {
  color: var(--name-color);
  font-family: Raleway;

  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

/* навигация в шапке */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--nav-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-list + .nav-list {
  margin-left: 50px;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--bg-button-color);
}
.site-nav .current {
  color: var(--bg-button-color);
}

.site-nav .link :active {
  color: var(--bg-button-color);
}
.navigation {
  display: flex;
  align-items: center;
}

/* ======contact====== */
.contact {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.contact .list + .list {
  margin-left: 50px;
}
.contact .link {
  color: var(--desc-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact :hover,
.contact :focus {
  color: var(--bg-button-color);
}

/* =======section hero======= */
.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--bg-footer);
}
.overlay {
  min-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/overlay-img/occupation.img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* заголовок в hero */
.section-hero .main-heading {
  display: block;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;

  color: var(--bg-main-page-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;
}

/* кнопка в секции hero */
.hero .button-hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button-hero {
  margin-top: 30px;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 3px;
  border-color: transparent;
  color: var(--button-color);
  background-color: var(--bg-button-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--bg-btn-hover);
  cursor: pointer;
}

/*====== feature ====== */
.section-feature {
  padding-top: 94px;
  padding-bottom: 47px;
}
.feature-list {
  display: flex;
  height: 101px;
}
.feature-list .text {
  color: var(--desc-text-color);
}
.feature-list .item {
  flex-basis: calc((100%-90px) / 4);
  margin-right: 30px;
}
.feature-list :nth-child(4n) {
  margin-right: 0px;
}
/* ====== logo-item ======  */
.feature-list .item::before {
  content: "";
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  outline: 2px solid red;
}

/* подзаголовки секции "о нас" */
.feature-list .title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* текст в секции "о нас" */
.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ======== occupation ======== */
.occupation {
  padding-top: 47px;
  padding-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;

  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.occupation-img {
  display: flex;
}
.occupation-img .img {
  flex-basis: calc((100%-60px) / 3);
  margin-right: 30px;
}
.occupation-img .img:nth-child(3n) {
  margin-right: 0px;
}
/* ======= section-team ======= */
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--bg-section-team);
}
.team-list {
  display: flex;
}
.team-list .item {
  flex-basis: calc((100%-90px) / 4);
  margin-right: 30px;

  background-color: var(--button-color);
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.team-list .item:nth-child(4n) {
  margin-right: 0px;
}

/* имена разработчиков */
.section-team .name {
  margin-top: 30px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* специальности команды */
.section-team .text {
  margin-top: 10px;
  margin-bottom: 30px;

  color: var(--desc-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ======== customers ======== */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers .customers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customers-list .link {
  content: "";
  display: flex;
  align-items: center;
  margin-left: 30px;
  width: 170px;
  height: 90px;

  background-color: var(--bg-main-page-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.customers-list .item :nth-child(1n) {
  margin-left: 0px;
}
.customers-list {
  display: block;
}

.customers-list :hover,
.customers-list :focus {
  border-color: var(--bg-button-color);
}
.customers-list :nth-child(1n) {
  background-image: url(/img/sprite/company1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.customers-list :nth-child(2n) {
  background-image: url(/img/sprite/company2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.customers-list :nth-child(3n) {
  background-image: url(/img/sprite/company3.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.customers-list :nth-child(4n) {
  background-image: url(/img/sprite/company4.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.customers-list :nth-child(5n) {
  background-image: url(/img/sprite/company5.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.customers-list :nth-child(6n) {
  background-image: url(/img/sprite/company6.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* ======footer====== */
.footer-text {
  color: var(--button-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-footer);
}
.contact-footer .link {
  color: var(--desc-text-color);
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-footer .link-map {
  color: var(--button-color);
  text-decoration: none;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-footer .list {
  display: block;
  margin-top: 19px;
}
.contact-footer .list.map {
  margin-top: 20px;
}
/*========================= PORTFOLIO =============================*/
.project {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-btn .button {
  display: flex;
  justify-content: center;
}
.button-item + .button-item {
  margin-left: 8px;
}

/* кнопки фильтра */
.button .filter {
  border-color: transparent;
  background: var(--bg-button-filter);
  border-radius: 3px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  min-width: 73px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

/* кнопки после наведения */
.button .filter:hover,
.button .filter:focus {
  color: var(--button-color);
  background: var(--bg-button-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-right: 0;
}
.project-content {
  padding: 20px 0px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
/* заголовки под картинками */
.project .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--project-title-color);
}

/* текст под картинками */
.project .subtitle {
  color: var(--desc-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.project-list .link {
  text-decoration: none;
}
.project-list .item {
  margin-bottom: 30px;
}
.project-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
